* {
    box-sizing: border-box;
  }
  
  body, html {
    height: 100%;
    padding: 0;
    margin: 0;
    font-family: sans-serif;
    color: #333;
  }
  
  a {
    text-decoration: none;
    color: burlywood;
    font-weight: bold;
    transition: color .1s;
  }
  
  a:hover {
    color: #3486eb;
  }
  
  button {
    background-color: #2290a3;
    border: 0;
    padding: 1%;
    color: white;
    font-weight: bold;
    transition: background-color .5s;
    cursor: pointer;
    border-radius: 5px;
  }
  
  button:hover {
    background-color: #3486eb;
  }
  
  .post-list {
    margin: 0;
    padding: 0;
  }
  
  textarea, input {
    padding: .5%;
    border-radius: 5px;
    border: 1px solid rgb(7, 7, 7);
  }
  
  textarea:focus, input:focus {
    outline: none;
    border: 1px solid #3486eb;
  }
  
  textarea {
    min-width: 40%;
    min-height: 100px;
  }
  
  form > div {
    margin-bottom: 2%;
  }
  
  form label {
    display: block;
  }
  
  .wrapper {
    width: 100%;
    min-height: 100%;
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    background-color: burlywood;
  }
  
  header {
    position: -webkit-sticky;
    position: sticky;
    top: 0;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 1%;
    background-color: black;
    padding: 20px;
  }
  
  header h1 {
    font-size: 2em;
    padding: 8px;
    border-radius: 7px;
  }
  
  main {
    flex: 1;
    padding: 2% 4%;
  }
  
  .btn-no-style {
    background: none;
    border: none;
    padding: 0;
    cursor: pointer;
    text-decoration: none;
    color: burlywood;
    font-size: 100%;
    font-weight: bold;
    transition: color .1s;
    margin-left: 16px;
  }
  
  .btn-no-style:hover {
    background: none;
    color: #3486eb;
  }
  
  .delete-post-btn {
    background-color: #d41414;
  }
  
  .delete-post-btn:hover {
    background-color: #ff643d;
  }
  
  .post {
    margin-bottom: 2%;
    line-height: 150%;
    background-color: black;
    padding: 10px;
    font-style: italic;
    font-size: 90%;
    color: white;
  }

  .post .right {
    text-align: right;
  }
  
  .edit-link {
    display: block;
    margin: -1.5% 0 2% 0;
  }
  
  .comment-form {
    margin-bottom: 5%;
  }
  
  .comment {
    padding: 1%;
    margin-bottom: 1%;
    border-radius: 10px;
  }
  
  .comment:nth-child(odd) {
    background-color: #fff5eb;
  }
  .comment:nth-child(even) {
    background-color: #e9820d;
  }
  
  .meta{
    color: black;
    background-color: burlywood;
    border-radius: 5px 5px 0 0;
    border-bottom: 1px solid;
    border-left: 1px solid;
    border-right: 1px solid;
    padding: 15px;
    font-weight: lighter;
    margin: -10px ;
    margin-top: 10px;
  }

  .meta a {
    color: black;
  }

  .meta a:hover {
    color: #3486eb;
  }

  .beta {
    color: black;
    display: flex;
    justify-content: flex-end;
    align-items: center;
  }

  .comment .beta {
    padding: 0px 15px;
    font-size: 90%;
    margin-bottom: .5%;
    opacity: .6;
  }
  
  .new-post-form input {
    width: 300px;
  }
  
  .edit-post-form {
    margin-bottom: 5%;
  }

  .edit-btn {
    color: black;
  }

  .dashboard-btn-wrapper {
    padding-bottom: 15px;
  }

  .dashboard-btn {
    color: black;
  }
  
  footer {
    display: flex;
    justify-content: center;
    padding: 1%;
    font-size: 110%;
    background-color: burlywood;
  }